<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_UMCase">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_UMCase">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://abn-ode-web-c12.ode.trizetto.com/SOAFServices/UMCaseService/UMCase.svc/basic_secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UMCase"
                contract="CAEUMCase.UMCase1" name="BasicHttpBinding_UMCase" />
            <endpoint address="https://abn-ode-web-c12.ode.trizetto.com/SOAFServices/UMCaseService/UMCase.svc/ws_secure"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_UMCase"
                contract="CAEUMCase.UMCase1" name="WSHttpBinding_UMCase" />
        </client>
    </system.serviceModel>
</configuration>